header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
    padding: 9px;
}
nav button{
    padding: 5px;
    background-color: rgb(236, 101, 101);
    border-color: black; 
    border-radius: 10px;
    cursor: pointer;
}
button{
    padding: 5px;
    background-color: rgb(236, 101, 101);
    border-color: black; 
    border-radius: 10px;
    cursor: pointer;
}
nav button:hover{
    background-color: rgb(238, 43, 43);
}
body{
        margin: 0 auto;
        padding: 0;
        background: linear-gradient(
               rgba(9, 9, 9, 0.5),   
               rgba(9, 9, 9, 0.5)),
                url("bloodbg.png") no-repeat center center fixed;
        background-size: cover;
}
.buttongrp
{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.buttongrp button{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(236, 101, 101);
    color: white;
}
.buttongrp button:hover{
    background-color: rgb(238, 43, 43);
}
.cardcontainer
{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.card
{
    width: 20%;
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
}
.card:hover
{
    box-shadow: 2px 2px 10px red;
}
image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img
{
    width: 10%;
    height: auto;
}
.title
{
    text-align: center;
}
.content
{
    text-align: center;
}
.formhead h3{
    margin-bottom: 2px;
}
.formhead h6
{
    margin-top: 2px;
}
.required::after {
    content: " *";
    color: red;
}
.bg{
    padding: 10px;
    background-color: rgb(211, 236, 236);
    border-radius: 10px;
}
#submit{
    width: 200px;
    background-color: red;
}
#submit:hover{
    background-color: green;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid #1e7d32; /* deeper, richer green */
  box-shadow: 0 0 10px 2px rgba(30, 125, 50, 0.5); /* more pronounced glow */
  transition: all 0.2s ease-in-out;
}

